{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="page-header">
                <h2>{% trans %}Books{% endtrans %}</h2>
                {% if books is defined %}

                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="page-header">
                <h2>{% trans %}Films{% endtrans %}</h2>
                {% if films is defined %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
