{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактирование книги</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    {% include '::tag/addform.html.twig' %}

    <button type="submit" class="btn btn-success" >Редактировать</button>

    {{ form_end(edit_form) }}
    <br>
    <ul class="list-inline list-unstyled">
        <li><a href="{{ path('book_index') }}" class="btn btn-info">{{ icon('arrow-left') }} Назад к списку</a></li>
        <li>{{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Удалить">
        {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}

