{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список книг</h1>
    <a href="{{ path('book_new') }}" class="btn btn-success pull-right">{{ icon('plus') }} добавить</a>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.title }}</a>
                <p class="text-muted small">{{ book.description }}</p>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a title="просмотр" data-toggle="tooltip" data-placement="top" href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-default">{{ icon('share') }}</a>
                        <a title="редактирование" data-toggle="tooltip" data-placement="top" href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-default">{{ icon('edit') }}</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
