{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавление книги</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        {% include '::tag/addform.html.twig' %}

        <input type="submit" value="Добавить" class="btn btn-success"/>
    {{ form_end(form) }}

    <br>
    <ul class="list-inline list-unstyled">
        <li><a href="{{ path('book_index') }}" class="btn btn-info">{{ icon('arrow-left') }} Назад к списку</a></li>

    </ul>
{% endblock %}
