{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ book.title }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Авторы</th>
                <td><ul class="list-unstyled">{% for author in book.authors %}
                        <li>{{ author.name|e }}</li>
                    {% endfor %}</ul>
                </td>
            </tr>
            <tr>
                <th>Теги</th>
                <td><ul class="list-unstyled">{% for tag in book.tags %}
                            <li>{{ tag.name|e }}</li>
                        {% endfor %}</ul>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <ul class="list-inline list-unstyled">
        <li><a href="{{ path('book_index') }}" class="btn btn-info">{{ icon('arrow-left') }} Назад к списку</a></li>
        <li>
            <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-success">Редактировать</a>
        </li>
        <li>{{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
