{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список фильмов</h1>
    <a href="{{ path('film_new') }}" class="btn btn-success pull-right">{{ icon('plus') }} добавить</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Качество</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</td>
                <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.title }}</a>
                </td>
                <td>{{ film.quality }}</td>
                <td nowrap="">
                    <div class="btn-group" role="group">
                        <a title="просмотр" data-toggle="tooltip" data-placement="top" href="{{ path('film_show', { 'id': film.id }) }}" class="btn btn-default">{{ icon('share') }}</a>
                        <a title="редактирование" data-toggle="tooltip" data-placement="top" href="{{ path('film_edit', { 'id': film.id }) }}" class="btn btn-default">{{ icon('edit') }}</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
