{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ film.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ film.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Quality</th>
                <td>{{ film.quality }}</td>
            </tr>
            <tr>
                <th>Актеры</th>
                <td><ul class="list-unstyled">{% for actor in film.actors %}
                            <li>{{ actor.name|e }}</li>
                        {% endfor %}</ul>
                </td>
            </tr>
            <tr>
                <th>Теги</th>
                <td><ul class="list-unstyled">{% for tag in film.tags %}
                            <li>{{ tag.name|e }}</li>
                        {% endfor %}</ul>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <ul class="list-inline list-unstyled">
        <li><a href="{{ path('film_index') }}" class="btn btn-info">{{ icon('arrow-left') }} Назад к списку</a></li>
        <li>
            <a href="{{ path('film_edit', { 'id': film.id }) }}" class="btn btn-success">Редактировать</a>
        </li>
        <li>{{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
