<div class="b__addtag form-group row">
    <div class="col-md-3">
        <input type="text" name="tag-name" class="form-control new-tag">
    </div>
    <div class="col-md-9">
        <button data-href="{{ path('tag_new') }}" class="btn btn-default add-tag">{{ icon('plus') }} добавить тег</button>
    </div>
</div>